[submodule "tgp-client-front"]
	path = tgp-client-front
	url = git@github.com:rizalfakhri/tgp-client-front.git
[submodule "tgp-discount-service-front"]
	path = tgp-discount-service-front
	url = git@github.com:rizalfakhri/tgp-discount-service-front.git
[submodule "tgp-pods-discovery-client-front"]
	path = tgp-pods-discovery-client-front
	url = git@github.com:rizalfakhri/tgp-pods-discovery-client-front.git
[submodule "services/user-service"]
	path = services/user-service
	url = git@github.com:rizalfakhri/tgp-services_user-service.git
[submodule "services/discount-service"]
	path = services/discount-service
	url = git@github.com:rizalfakhri/tgp-services_discount-service.git
[submodule "services/reporting-service"]
	path = services/reporting-service
	url = git@github.com:rizalfakhri/tgp-services_reporting-service.git
[submodule "lib/tgp-user-service-auth-sdk"]
	path = lib/tgp-user-service-auth-sdk
	url = git@github.com:rizalfakhri/tgp-auth-server-sdk.git
[submodule "services/tgp-pods-discovery"]
	path = services/tgp-pods-discovery
	url = git@github.com:rizalfakhri/tgp-pods-discovery-service.git
