[submodule "tgp-client-front"]
	path = tgp-client-front
	url = git@github.com:rizalfakhri/tgp-client-front.git
[submodule "tgp-discount-service-front"]
	path = tgp-discount-service-front
	url = git@github.com:rizalfakhri/tgp-discount-service-front.git
[submodule "tgp-pods-discovery-client-front"]
	path = tgp-pods-discovery-client-front
	url = git@github.com:rizalfakhri/tgp-pods-discovery-client-front.git
[submodule "user-services"]
	path = services/user-service
	url = git@github.com:rizalfakhri/tgp-services_user-service.git
[submodule "discount-services"]
	path = services/discount-service
	url = git@github.com:rizalfakhri/tgp-services_discount-service.git
[submodule "reporting-services"]
	path = services/reporting-service
    url = git@github.com:rizalfakhri/tgp-services_reporting-service.git
[submodule "reporting-services"]
	path = services/reporting-service
    url = git@github.com:rizalfakhri/tgp-services_reporting-service.git
[submodule "pods-services"]
	path = services/pods-service
    url = git@github.com:rizalfakhri/tgp-pods-discovery-service.git
[submodule "services/user-service"]
	path = services/user-service
	url = git@github.com:rizalfakhri/tgp-services_user-service.git
[submodule "services/discount-service"]
	path = services/discount-service
	url = git@github.com:rizalfakhri/tgp-services_discount-service.git
[submodule "services/reporting-service"]
	path = services/reporting-service
	url = git@github.com:rizalfakhri/tgp-services_reporting-service.git
